body{
    background: #393e46 ;
    color: #fff;
    text-align: center;
}

.container{
    background:#000000;
    padding: 7% 15%;
}

h1{
    font-size: 2.5rem;
    font-family: 'Indie Flower', cursive;
}
p{
    color: #EEEEEE;
    font-family: 'Indie Flower', cursive;
    font-size: 1.5rem;
}

.heading{
    font-family: 'Lobster';
}

.players{
    display:inline-block;
    margin: 5% 10%; 
    
}

.btn-start{
    padding: 10px 7%;
    background: #c70039;
    color: #fff;
    border: 0;
    font-size: 1.5rem;
    font-family: 'Lobster';
}